/*******************************************************************************
 * Infos
*******************************************************************************/

/**
 * Name: Codepen embed
 * Type: Component
**/

/*******************************************************************************
 * Utils
*******************************************************************************/

@use "../settings/colors";
@use "../settings/spacing";

/*******************************************************************************
 * Default styles
*******************************************************************************/

.c-codepen {
  margin-block: spacing.get("lg");
}

  .c-codepen__iframe {
    width: 100%;
    border: 1px solid colors.get("border");
    border-radius: spacing.radius();
    background: colors.get("surface");
  }
